<div class="card">
	<div class="card_header">
		<h2 class="card_title">{{datamessage}}</h2>
		<h3 class="card_subtitle">{{data.info}}</h3>
	</div>
	<a href="{{data.link}}" class="card_button card_button--blue">Повернутися назад</a>
</div>